.dex-report-builder {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.dex-builder {
  &__fields,
  &__tables {
    border: 1px solid grey;
    background: white;
    padding: 20px;
    min-width: 240px;

    height: 800px;
    overflow: auto;
  }
}

.dex-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dex-item {
  padding: 1rem;
  cursor: pointer;
  border: 1px solid #C8D0DD;

  &:hover {
    background: #C8D0DD;
  }
}


.dex-table {
  width: 100%;
  border-collapse: collapse;

  td, th {
    border: 1px solid #C8D0DD;

    padding: 8px;
  }

}
